<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <add key="core.frequencyDialZoom" value="0.78" />
  <add key="core.AllowAnimations" value="false" />
  <add key="core.pluginsDirectory" value="C:\SDRSharp\Plugins" />
  <add key="core.disableLazyLoading" value="false" />
  <add key="core.iqBalancer.buffersToSkip" value="1" />
  <add key="core.iqBalancer.fftIntegration" value="4" />
  <add key="core.iqBalancer.fftOverlap" value="2" />
  <add key="core.iqBalancer.correlationIntegration" value="16" />
  <add key="core.minReducedNarrowBandwidth" value="9000" />
  <add key="core.minReducedWideBandwidth" value="120000" />
  <add key="core.optimizeStreamingForLatency" value="false" />
  <add key="core.iqBuffers" value="8" />
  <add key="core.audioBuffers" value="3" />
  <add key="core.useAntiAliasedDisplay" value="true" />
  <add key="core.pllPhaseAdjM" value="0.0" />
  <add key="core.pllPhaseAdjB" value="-1.75" />
  <add key="core.rdsUseFEC" value="true" />
  <add key="core.deemphasisTime" value="50" />
  <add key="core.refreshFPS" value="15" />
  <add key="core.spyserver.disableAutoScaling" value="false" />
  <add key="core.stepSizes" value="1 Hz,10 Hz,100 Hz,500 Hz,1 kHz,2.5 kHz,3 kHz,5 kHz,6.25 kHz,7.5 kHz,8.3333 kHz,9 kHz,10 kHz,12.5 kHz,15 kHz,20 kHz,25 kHz,30 kHz,50 kHz,100 kHz,150 kHz,200 kHz,250 kHz,300 kHz,350 kHz,400 kHz,450 kHz,500 kHz,1 MHz" />
  <add key="core.filePlayer.bufferSize" value="32768" />
  <add key="core.rtlBufferLength" value="32768" />
  <add key="core.softrockFrequencyMultiplier" value="4" />
  <add key="core.funcubeFrequencyCorrection" value="-21.0" />
  <add key="core.sdriqReadBlockCount" value="1" />
  <add key="core.sdriqOutFifoBlockCount" value="0" />
  <add key="core.usrpSampleRates" value="0.25,0.5,1.0,2.0,2.5,8.0,16.0,32.0" />
  <add key="spectrumAnalyzer.snrGradient" value="FFFFFF,1E90FF,000091,000050" />
  <add key="spectrumAnalyzer.gradient" value="FFFFFF,ADD8E6,1E90FF,000050,000000" />
  <add key="spectrumAnalyzer.envelopeColor" value="FFFFFF" />
  <add key="spectrumAnalyzer.peakColor" value="FFFF00" />
  <add key="spectrumAnalyzer.fillColor" value="1E90FF" />
  <add key="spectrumAnalyzer.attack" value="0.3442623" />
  <add key="spectrumAnalyzer.decay" value="0.36065573" />
  <add key="waterfall.Attack" value="0.75409836" />
  <add key="waterfall.decay" value="0.60655737" />
  <add key="waterfall.useUtcTimeStamp" value="False" />
  <add key="waterfall.gradient" value="440000,770000,990000,CC0000,FF0000,FE6611,FFFF00,FFFFFF,1190FF,000099,000050,000030,000020" />
  <add key="theme" value="Dark" />
  <add key="iqSource" value="8" />
  <add key="detectorType" value="6" />
  <add key="fftSpeed" value="37" />
  <add key="fftContrast" value="3" />
  <add key="fftDisplayOffset" value="0" />
  <add key="fftDisplayRange" value="10" />
  <add key="spectrumStyle" value="3" />
  <add key="useTimeMarkers" value="False" />
  <add key="centerFrequency" value="445343510" />
  <add key="vfo" value="444534350" />
  <add key="spectrumWidth" value="10000000" />
  <add key="agcEnabled" value="True" />
  <add key="agcThreshold" value="-50" />
  <add key="agcDecay" value="500" />
  <add key="agcHang" value="False" />
  <add key="latency" value="50" />
  <add key="filterAudio" value="True" />
  <add key="airspy.debug" value="0" />
  <add key="airspy.vga" value="6" />
  <add key="airspy.mixerAgc" value="False" />
  <add key="airspy.mixer" value="6" />
  <add key="airspy.lnaAgc" value="False" />
  <add key="airspy.lna" value="1" />
  <add key="airspy.sampleRate" value="0" />
  <add key="airspy.decimation" value="0" />
  <add key="airspy.trackingFilterEnabled" value="True" />
  <add key="airspy.biasTeeEnabled" value="False" />
  <add key="airspy.spyVerterEnabled" value="True" />
  <add key="airspy.spyVerterPPM" value="0" />
  <add key="airspy.usePacking" value="False" />
  <add key="airspy.aliasFreeRatio" value="0.8" />
  <add key="airspy.useRealSampling" value="0" />
  <add key="airspyhf.debug" value="0" />
  <add key="airspyhf.libdsp" value="1" />
  <add key="airspyhf.sampleRate" value="768000" />
  <add key="airspyhf.iqBalancer.buffersToSkip" value="2" />
  <add key="airspyhf.iqBalancer.fftIntegration" value="4" />
  <add key="airspyhf.iqBalancer.fftOverlap" value="2" />
  <add key="airspyhf.iqBalancer.correlationIntegration" value="16" />
  <add key="airspyhf.aliasFreeRatio" value="0.8" />
  <add key="airspyhf.useNativeDecimation" value="0" />
  <add key="plugin.bandplan.database" value=".\BandPlan.xml" />
  <add key="plugin.bandPlan.saveOnClose" value="true" />
  <add key="plugin.bandPlan.updateDatabase" value="true" />
  <add key="plugin.frequencymanager.database" value=".\Frequencies.xml" />
  <add key="plugin.fft.af.offet" value="0" />
  <add key="plugin.fft.af.range" value="100" />
  <add key="plugin.fft.mpx.offset" value="0" />
  <add key="plugin.fft.mpx.range" value="100" />
  <add key="zoomPosition" value="1" />
  <add key="displayBeforeFilter" value="false" />
  <add key="WriteFolder" value="C:\SDRSharp\Recordings" />
  <add key="BasebandWriteFolder" value="C:\SDRSharp\Recordings" />
  <add key="IFWriteFolder" value="C:\SDRSharp\Recordings" />
  <add key="QPSKRecorderPath" value="C:\SDRSharp\Recordings" />
  <add key="DSD.Path" value="C:\SDRSharp\bin\dsdplus\DSDPlus.exe" />
  <add key="DSDPath" value="C:\SDRSharp\bin\dsdplus\DSDPlus.exe" />
  <add key="stepSizes" value="1 Hz,10 Hz,100 Hz,500 Hz,1 kHz,2.5 kHz,3 kHz,5 kHz,6.25 kHz,7.5 kHz,8.3333 kHz,9 kHz,10 kHz,12.5 kHz,15 kHz,20 kHz,25 kHz,30 kHz,50 kHz,100 kHz,150 kHz,200 kHz,250 kHz,300 kHz,350 kHz,400 kHz,450 kHz,500 kHz,1 MHz" />
  <add key="plugin.bandPlan.enabled" value="True" />
  <add key="plugin.bandPlan.autoUpdateSettings" value="True" />
  <add key="plugin.bandPlan.position" value="0" />
  <add key="plugin.magiceye.type" value="13" />
  <add key="OmniRigSyncFromFreq" value="True" />
  <add key="OmniRigSyncFromMode" value="True" />
  <add key="OmniRigSyncToFreq" value="True" />
  <add key="OmniRigSyncToMode" value="True" />
  <add key="RigName" value="0" />
  <add key="plugin.pocsag.MultilinePayload" value="False" />
  <add key="airspy.simplifiedGain" value="0" />
  <add key="airspy.gainMode" value="0" />
  <add key="airspy.useDynamicRangeEnhancements" value="True" />
  <add key="HackRFLNAGain" value="4" />
  <add key="HackRFVGAGain" value="4" />
  <add key="plugin.frequencyManager.showBookmarks" value="True" />
  <add key="plugin.nb.af.enabled" value="False" />
  <add key="plugin.nb.af.threshold" value="5" />
  <add key="plugin.nb.af.pulseWidth" value="50" />
  <add key="plugin.nb.af.lookupWindow" value="30" />
  <add key="plugin.nb.if.enabled" value="False" />
  <add key="plugin.nb.if.threshold" value="5" />
  <add key="plugin.nb.if.pulseWidth" value="30" />
  <add key="plugin.nb.if.lookupWindow" value="50" />
  <add key="plugin.nb.bb.enabled" value="False" />
  <add key="plugin.nb.bb.threshold" value="5" />
  <add key="plugin.nb.bb.pulseWidth" value="10" />
  <add key="plugin.nb.bb.lookupWindow" value="20" />
  <add key="plugin.cochannel.am.enabled" value="False" />
  <add key="plugin.cochannel.am.offset" value="0" />
  <add key="plugin.cochannel.am.bandwidth" value="12000" />
  <add key="plugin.cochannel.am.ifOffset" value="0" />
  <add key="plugin.cochannel.am.tuning" value="7.5" />
  <add key="plugin.cochannel.am.removeCarrier" value="True" />
  <add key="plugin.cochannel.am.autoTune" value="False" />
  <add key="plugin.cochannel.fm.enabled" value="False" />
  <add key="plugin.cochannel.fm.offset" value="0" />
  <add key="plugin.cochannel.fm.bandwidth" value="25000" />
  <add key="plugin.cochannel.fm.ifOffset" value="0" />
  <add key="plugin.cochannel.fm.tuning" value="7" />
  <add key="plugin.if.processor.notchWidth" value="300" />
  <add key="plugin.if.processor.notchAttenuation" value="-160" />
  <add key="plugin.if.processor.trackingEnabled" value="False" />
  <add key="plugin.if.processor.filterEnabled" value="False" />
  <add key="plugin.if.processor.showPanel" value="False" />
  <add key="plugin.if.processor.displayStage" value="False" />
  <add key="plugin.if.processor.showOnMainSpectrum" value="False" />
  <add key="plugin.zoomFFT.if.filter" value="False" />
  <add key="plugin.audio.recorder.sampleFormat" value="1" />
  <add key="plugin.audio.recorder.channels" value="0" />
  <add key="plugin.audio.recorder.targetFolder" value="C:\SDRSharp\Instances\Profile2" />
  <add key="plugin.baseband.recorder.writeFolder" value="." />
  <add key="plugin.baseband.recorder.sampleFormat" value="1" />
  <add key="plugin.baseband.recorder.fileFormat" value="0" />
  <add key="plugin.baseband.recorder.fileLimitEnabled" value="False" />
  <add key="plugin.baseband.recorder.fileLimit" value="4294967295" />
  <add key="plugin.baseband.recorder.schedule" value="" />
  <add key="ActiveFiltersButton" value="0" />
  <add key="AudioSpectrumShow" value="False" />
  <add key="AudioSpectrumPosition" value="1" />
  <add key="ShowAudioSpectrumBefore" value="False" />
  <add key="AudioRecorder.FileName" value="/ date / group / frequency + &quot; &quot; + name / time + &quot; &quot; + name + &quot; &quot; + frequency" />
  <add key="AudioRecorder.DeleteSmallFile" value="False" />
  <add key="AudioRecorder.MinimumWriteLengthInSecond" value="0" />
  <add key="AudioRecorder.DontWritePause" value="False" />
  <add key="AudioRecorder.UseMute" value="False" />
  <add key="AudioRecorder.UseSquelch" value="False" />
  <add key="AudioRecorder.WriteFolder" value="C:\SDRSharp\bin" />
  <add key="AudioRecorder.WriteSamplerate" value="0" />
  <add key="AudioRecorder.RecordSampleFormat" value="0" />
  <add key="AudioRecorder.AutoStartRecording" value="False" />
  <add key="AudioRecorder.ContinueRecordTimeEnabled" value="False" />
  <add key="AudioRecorder.ContinueRecordTime" value="1000" />
  <add key="AudioRecorder.WriteOneFile" value="False" />
  <add key="AudioRecorder.NewFileWaitTimeEnable" value="False" />
  <add key="AudioRecorder.NewFileWaitTime" value="10000" />
  <add key="AudioRecorder.NewFileIfFrequencyChange" value="False" />
  <add key="AudioRecorder.NewFileIfMaxWriteLength" value="False" />
  <add key="AudioRecorder.MaxWriteLength" value="2048" />
  <add key="833CalcEnabled" value="False" />
  <add key="833CalcCenter" value="False" />
  <add key="BasebandRecorder.WriteFolder" value="C:\SDRSharp\bin" />
  <add key="BasebandRecorder.SampleFormat" value="1" />
  <add key="BasebandRecorder.FileFormat" value="0" />
  <add key="BasebandRecorder.FileLimiterEnable" value="False" />
  <add key="BasebandRecorder.FileLimit" value="2147483648" />
  <add key="BasebandRecorder.Schedule" value="" />
  <add key="CTCSS.SquelchTone" value="110.9" />
  <add key="CTCSS.SquelchEnable" value="False" />
  <add key="CTCSS.DetectEnable" value="False" />
  <add key="CTCSS.AuxWindowEnable" value="False" />
  <add key="CTCSS.OnSpectrum" value="False" />
  <add key="CTCSS.NoResetOnFreqChange" value="False" />
  <add key="CTCSS.AuxLeft" value="100" />
  <add key="CTCSS.AuxTop" value="100" />
  <add key="CTCSS.SpectrumLabelYOffset" value="100" />
  <add key="CTCSS.ForceAuxOpen" value="False" />
  <add key="DCS.SquelchCode" value="0" />
  <add key="DCS.SquelchEnable" value="False" />
  <add key="DCS.DetectEnable" value="True" />
  <add key="DCS.AuxWindowEnable" value="False" />
  <add key="DCS.ShowOnSpectrum" value="True" />
  <add key="DCS.NoResetOnFreqChange" value="False" />
  <add key="DCS.AuxLeft" value="100" />
  <add key="DCS.AuxTop" value="100" />
  <add key="DCS.SpectrumLabelYOffset" value="0" />
  <add key="DCS.ForceAuxOpen" value="False" />
  <add key="DCS.OnlyUseDcsCodesInTable" value="0" />
  <add key="DCS.SwapNormalInvertedDcsCodes" value="False" />
  <add key="DSDInterface.Path" value="C:\SDRSharp\bin\dsd\DSDPlus.exe" />
  <add key="DSDInterface.Arguments" value=" -v2 -O NUL -I0 -i1 -o2 -g0 -u3 -dr0 -dh0 -ds64 -dd10 -dv20 -M15 -fa -UA50 -UI50 -weh15 -wch15" />
  <add key="DSDInterface.AuxArguments" value="-wsl10.10 -wss200.300 -wsp100 -wel50.50 -wes400.500 -wcl90.90" />
  <add key="DSDInterface.OutputDevice" value="[MME] Microsoft Sound Mapper - Output" />
  <add key="DSDInterface.Gain" value="50" />
  <add key="DSDInterface.Fastlane" value="False" />
  <add key="DSDInterface.AlwaysMute" value="False" />
  <add key="DSDtcp.Port" value="20011" />
  <add key="DSDtcp.Path" value="C:\SDRSharp\bin\dsd\DSDPlus.exe" />
  <add key="DSDtcp.Arguments" value=" -v2 -O NUL -I0 -i20011 -o2 -g0 -u3 -dr0 -dh0 -ds64 -dd10 -dv20 -M15 -fa -UA50 -UI50 -weh15 -wch15" />
  <add key="DSDtcp.AuxArguments" value="-wsl10.10 -wss200.300 -wsp100 -wel50.50 -wes400.500 -wcl90.90" />
  <add key="DSDtcp.Gain" value="0" />
  <add key="DSDtcp.AlwaysMute" value="False" />
  <add key="DSDtcp.DisableSquelch" value="False" />
  <add key="DSDtcp.SetNfmBwOnDdsStart" value="False" />
  <add key="DSDtcp.BwOnDsdStart" value="12500" />
  <add key="FreqMan.SelectedFreqManagerGroup" value="[All Groups]" />
  <add key="FreqMan.ChangeFreqPauseInMs" value="100" />
  <add key="FreqMan.NextFreqPauseInSecond" value="2" />
  <add key="FreqMan.TextFont" value="Segoe UI, 9pt" />
  <add key="FreqMan.PanviewEnable" value="False" />
  <add key="FreqMan.ToSpectrum" value="False" />
  <add key="FreqMan.OnlyActive" value="False" />
  <add key="FreqMan.AdditionalRowsInTable" value="10" />
  <add key="FreqMan.CheckFrequencyOnEntry" value="False" />
  <add key="FreqMan.TrackingOnlyCurrentGroup" value="False" />
  <add key="FreqMan.PluginPosition" value="0" />
  <add key="FreqMan.IgnoreShift" value="False" />
  <add key="FreqMan.ShowCurrentGroup" value="False" />
  <add key="FreqMan.SetSquelchOnScan" value="False" />
  <add key="FreqMan.AutoHideScrollbar" value="True" />
  <add key="FreqMan.UseGenericThemeColours" value="False" />
  <add key="LockFreqAuxWindowEnable" value="False" />
  <add key="fScanner.ScanModeIndex" value="0" />
  <add key="fScanner.FrequencyRangeIndexes" value="" />
  <add key="fScanner.AutoSkipEnabled" value="False" />
  <add key="fScanner.AutoSkipIntervalInSec" value="45" />
  <add key="fScanner.AutoSkipResetTmrOnOver" value="False" />
  <add key="fScanner.AutoLockEnabled" value="False" />
  <add key="fScanner.AutoLockIntervalInSec" value="60" />
  <add key="fScanner.AutoResetEnabled" value="False" />
  <add key="fScanner.AutoResetIntervalInMin" value="30" />
  <add key="fScanner.WatchDogIntervalInSec" value="10" />
  <add key="fScanner.PurgeTempLoEnabled" value="False" />
  <add key="fScanner.PurgeTempLoIntervalInMin" value="120" />
  <add key="fScanner.AutoClearEnabled" value="False" />
  <add key="fScanner.AutoClearActivityLevel" value="0.5" />
  <add key="fScanner.AutoClearIntervalInSec" value="10" />
  <add key="fScanner.UseAudioMute" value="False" />
  <add key="fScanner.UnMuteDelay" value="4" />
  <add key="fScanner.MuteDelay" value="2" />
  <add key="fScanner.Detect" value="100" />
  <add key="fScanner.ScanLevel" value="30" />
  <add key="fScanner.PauseToNextScreenInMs" value="2000" />
  <add key="fScanner.Hysteresis" value="10" />
  <add key="fScanner.MaxSelect" value="False" />
  <add key="fScanner.ButtonsMaxAlpha" value="100" />
  <add key="fScanner.ButtonsMinAlpha" value="5" />
  <add key="fScanner.PluginPosition" value="1" />
  <add key="fScanner.AlhpaFade" value="15" />
  <add key="fScanner.UseNowPlayingFile" value="False" />
  <add key="fScanner.DisableChannelAnalyzerFocus" value="False" />
  <add key="fScanner.NowPlayDelay" value="0" />
  <add key="fScanner.RestrictLockoutClickArea" value="False" />
  <add key="fScanner.DisableZoomActiveFreq" value="False" />
  <add key="fScanner.AutoSuspendPanView" value="False" />
  <add key="fScanner.AutoSuspendIntervalInSec" value="4" />
  <add key="fScanner.SuspendLevel" value="3" />
  <add key="fScanner.Use833Selector" value="False" />
  <add key="fScanner.ForceManualAudioMute" value="False" />
  <add key="fScanner.ShowDebugInfo" value="False" />
  <add key="fScanner.UseNarrowChannelFilter" value="False" />
  <add key="fScanner.ChBwLevelDetectHz" value="3000" />
  <add key="fScanner.LogEnabled" value="False" />
  <add key="fScanner.LogWriteFolder" value="C:\SDRSharp\bin" />
  <add key="fScanner.LogSeparator" value=" ; " />
  <add key="fScanner.LogEntryRules" value="time + freq_mhz + name + duration" />
  <add key="fScanner.ShowSessionHits" value="False" />
  <add key="fScanner.LogSessionHitTotals" value="False" />
  <add key="fScanner.ShowSNR" value="False" />
  <add key="fScanner.ShowActiveSpectrum" value="False" />
  <add key="fScanner.StaticNoiseFloor" value="False" />
  <add key="fScanner.EnableSelectiveLevels" value="False" />
  <add key="fScanner.FormatRangeListEntries" value="False" />
  <add key="fScanner.Show833Channel" value="False" />
  <add key="fScanner.Channel833LabelOffset" value="0" />
  <add key="fScanner.AutoHideScrollbar" value="True" />
  <add key="fScanner.UseGenericThemeColours" value="False" />
  <add key="IFRecorder.WriteFolder" value="C:\SDRSharp\bin" />
  <add key="IFRecorder.RecordSampleFormat" value="1" />
  <add key="IFRecorder.Schedule" value="" />
  <add key="QPSKSearchPhaseStep" value="100" />
  <add key="QPSKSymbolRate" value="1" />
  <add key="QPSKModulationType" value="0" />
  <add key="QPSKserverEnabled" value="False" />
  <add key="QPSKFileEnabled" value="False" />
  <add key="QPSKConstellInput" value="False" />
  <add key="QPSKConstellOutput" value="False" />
  <add key="QPSKTrackingEnable" value="False" />
  <add key="plugin.MPXOut.enable" value="False" />
  <add key="plugin.MPXOutput.device" value="[MME] Microsoft Sound Mapper - Output" />
  <add key="plugin.MPXOut.gain" value="0" />
  <add key="TV.Bright" value="50" />
  <add key="TV.Contrast" value="50" />
  <add key="TV.Modulation" value="1" />
  <add key="TV.VideoFilter" value="False" />
  <add key="TV.Pal_NTSC" value="0" />
  <add key="TV.ManualSync" value="False" />
  <add key="ScytaleC.UDPAddress" value="localhost" />
  <add key="ScytaleC.UDPPort" value="15003" />
  <add key="apco.gain" value="0" />
  <add key="apco.enabled" value="False" />
  <add key="dmr.gain" value="-64" />
  <add key="dmr.enabled" value="True" />
  <add key="dpmr.gain" value="-8" />
  <add key="dpmr.enabled" value="False" />
  <add key="TimeShiftEnable" value="False" />
  <add key="TimeShiftBuffer" value="30" />
  <add key="TimeShiftWaterfallSpeed" value="3" />
  <add key="TimeShiftWaterfallContrast" value="0" />
  <add key="TimeShiftUseZoom" value="False" />
  <add key="TimeShiftPluginPosition" value="1" />
  <add key="TimeShiftWaterfallResolution" value="1" />
  <add key="core.filterColor" value="FF00FF00" />
  <add key="fftWindowType" value="3" />
  <add key="fftView" value="2" />
  <add key="fftResolution" value="6" />
  <add key="frequencyShift" value="0" />
  <add key="frequencyShiftEnabled" value="False" />
  <add key="core.invertSpectrum" value="False" />
  <add key="correctIQ" value="True" />
  <add key="markPeaks" value="False" />
  <add key="stereo" value="False" />
  <add key="unityGain" value="False" />
  <add key="audioPanning" value="0" />
  <add key="sampleRate" value="48000 sample/sec" />
  <add key="audioGain" value="-12" />
  <add key="AudioIsMuted" value="False" />
  <add key="splitterPosition" value="823" />
  <add key="tuningStyle" value="0" />
  <add key="inputDevice" value="" />
  <add key="outputDevice" value="[MME] Microsoft Sound Mapper - Output" />
  <add key="lockCarrier" value="False" />
  <add key="stickyLock" value="False" />
  <add key="useAntiFading" value="False" />
  <add key="wfmState" value="200000,10,3,20,0,1000,100000,1,0,0,0,0,1,0" />
  <add key="nfmState" value="25000,1000,3,50,1,1000,12500,1,0,0,0,0,0,0" />
  <add key="amState" value="10000,1000,3,50,0,1000,5000,1,0,1,0,0,0,0" />
  <add key="lsbState" value="2400,1000,3,50,0,1000,10,1,0,1,0,0,0,0" />
  <add key="usbState" value="2400,1000,3,50,0,1000,10,1,0,1,0,0,0,0" />
  <add key="dsbState" value="6000,1000,3,50,0,1000,1000,1,0,1,0,0,1,1" />
  <add key="cwState" value="300,1000,3,50,0,1000,10,1,0,1,0,0,0,0" />
  <add key="rawState" value="25000,1000,3,50,0,1000,25000,1,0,1,0,0,0,0" />
  <add key="zoomBarIsSticky" value="False" />
  <add key="stepBarIsVisible" value="True" />
  <add key="windowState" value="2" />
  <add key="windowPosition" value="234,234" />
  <add key="windowSize" value="1156,757" />
  <add key="core.slices.count" value="0" />
  <add key="HackRFSampleRate" value="10 MSPS" />
  <add key="HackRFFrequencyCorrection" value="0" />
  <add key="HackRFExternalAmp" value="False" />
  <add key="DCS.LastAuxFore" value="DCDCDC" />
  <add key="DCS.LastAuxBack" value="191919" />
  <add key="DCS.LastAuxForeCCH" value="9ACD32" />
  <add key="plugin.magiceye.enabled" value="False" />
  <add key="Plugin.ListenInfo.Enabled" value="False" />
</configuration>