<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <add key="core.frequencyDialZoom" value="0.78" />
  <add key="core.showExtendedRadioSettings" value="false" />
  <add key="core.pluginsDirectory" value="C:\SDRSharp\Plugins" />
  <add key="core.dumpAllPluginErrors" value="false" />
  <add key="core.disableLazyLoading" value="false" />
  <add key="core.iqBalancer.buffersToSkip" value="1" />
  <add key="core.iqBalancer.fftIntegration" value="4" />
  <add key="core.iqBalancer.fftOverlap" value="2" />
  <add key="core.iqBalancer.correlationIntegration" value="16" />
  <add key="core.minReducedNarrowBandwidth" value="9000" />
  <add key="core.minReducedWideBandwidth" value="120000" />
  <add key="core.optimizeStreamingForLatency" value="false" />
  <add key="core.iqBuffers" value="8" />
  <add key="core.audioBuffers" value="2" />
  <add key="core.useAntiAliasedDisplay" value="true" />
  <add key="core.pllPhaseAdjM" value="0.0" />
  <add key="core.pllPhaseAdjB" value="-1.75" />
  <add key="core.rdsUseFEC" value="True" />
  <add key="core.deemphasisTime" value="50" />
  <add key="core.refreshFPS" value="30" />
  <add key="core.spyserver.disableAutoScaling" value="false" />
  <add key="core.stepSizes" value="1 Hz,10 Hz,100 Hz,500 Hz,1 kHz,2.5 kHz,3 kHz,5 kHz,6.25 kHz,7.5 kHz,8.3333 kHz,9 kHz,10 kHz,12.5 kHz,15 kHz,20 kHz,25 kHz,30 kHz,50 kHz,100 kHz,150 kHz,200 kHz,250 kHz,300 kHz,350 kHz,400 kHz,450 kHz,500 kHz,1 MHz" />
  <add key="core.filePlayer.bufferSize" value="32768" />
  <add key="core.rtlBufferLength" value="32768" />
  <add key="core.softrockFrequencyMultiplier" value="4" />
  <add key="core.funcubeFrequencyCorrection" value="-21.0" />
  <add key="core.sdriqReadBlockCount" value="1" />
  <add key="core.sdriqOutFifoBlockCount" value="0" />
  <add key="core.usrpSampleRates" value="0.25,0.5,1.0,2.0,2.5,8.0,16.0,32.0" />
  <add key="spectrumAnalyzer.snrGradient" value="FFFFFF,1E90FF,000091,000050" />
  <add key="spectrumAnalyzer.gradient" value="FFFFFF,ADDFEE,1190FF,000050,000000" />
  <add key="spectrumAnalyzer.envelopeColor" value="FFFFFF" />
  <add key="spectrumAnalyzer.peakColor" value="FFFF00" />
  <add key="spectrumAnalyzer.fillColor" value="1E90FF" />
  <add key="spectrumAnalyzer.attack" value="0.6885246" />
  <add key="spectrumAnalyzer.decay" value="0.4918033" />
  <add key="waterfall.Attack" value="0.93442625" />
  <add key="waterfall.decay" value="0.78688526" />
  <add key="waterfall.useUtcTimeStamp" value="False" />
  <add key="waterfall.gradient" value="440000,770000,990000,CC0000,FF0000,FE6611,FFFF00,FFFFFF,1190FF,000099,000050,000030,000020" />
  <add key="theme" value="Dark" />
  <add key="iqSource" value="5" />
  <add key="detectorType" value="1" />
  <add key="fftSpeed" value="23" />
  <add key="fftContrast" value="0" />
  <add key="fftDisplayOffset" value="2" />
  <add key="fftDisplayRange" value="11" />
  <add key="spectrumStyle" value="3" />
  <add key="useTimeMarkers" value="False" />
  <add key="centerFrequency" value="105500000" />
  <add key="vfo" value="105500000" />
  <add key="spectrumWidth" value="1920001" />
  <add key="agcEnabled" value="False" />
  <add key="agcThreshold" value="-50" />
  <add key="agcDecay" value="500" />
  <add key="agcHang" value="False" />
  <add key="latency" value="50" />
  <add key="filterAudio" value="True" />
  <add key="airspy.debug" value="0" />
  <add key="airspy.vga" value="6" />
  <add key="airspy.mixerAgc" value="False" />
  <add key="airspy.mixer" value="6" />
  <add key="airspy.lnaAgc" value="False" />
  <add key="airspy.lna" value="1" />
  <add key="airspy.sampleRate" value="0" />
  <add key="airspy.decimation" value="0" />
  <add key="airspy.trackingFilterEnabled" value="True" />
  <add key="airspy.biasTeeEnabled" value="False" />
  <add key="airspy.spyVerterEnabled" value="True" />
  <add key="airspy.spyVerterPPM" value="0" />
  <add key="airspy.usePacking" value="False" />
  <add key="airspy.aliasFreeRatio" value="0.8" />
  <add key="airspy.useRealSampling" value="0" />
  <add key="airspyhf.debug" value="0" />
  <add key="airspyhf.libdsp" value="1" />
  <add key="airspyhf.sampleRate" value="768000" />
  <add key="airspyhf.iqBalancer.buffersToSkip" value="2" />
  <add key="airspyhf.iqBalancer.fftIntegration" value="4" />
  <add key="airspyhf.iqBalancer.fftOverlap" value="2" />
  <add key="airspyhf.iqBalancer.correlationIntegration" value="16" />
  <add key="airspyhf.aliasFreeRatio" value="0.8" />
  <add key="airspyhf.useNativeDecimation" value="0" />
  <add key="plugin.bandplan.database" value=".\BandPlan.xml" />
  <add key="plugin.bandPlan.saveOnClose" value="true" />
  <add key="plugin.bandPlan.updateDatabase" value="true" />
  <add key="plugin.frequencymanager.database" value=".\Frequencies.xml" />
  <add key="plugin.fft.af.offet" value="0" />
  <add key="plugin.fft.af.range" value="100" />
  <add key="plugin.fft.mpx.offset" value="0" />
  <add key="plugin.fft.mpx.range" value="100" />
  <add key="zoomPosition" value="1" />
  <add key="displayBeforeFilter" value="false" />
  <add key="WriteFolder" value="C:\SDRSharp\Recordings" />
  <add key="BasebandWriteFolder" value="C:\SDRSharp\Recordings" />
  <add key="IFWriteFolder" value="C:\SDRSharp\Recordings" />
  <add key="QPSKRecorderPath" value="C:\SDRSharp\Recordings" />
  <add key="DSD.Path" value="C:\SDRSharp\bin\dsdplus\DSDPlus.exe" />
  <add key="DSDPath" value="C:\SDRSharp\bin\dsdplus\DSDPlus.exe" />
  <add key="stepSizes" value="1 Hz,10 Hz,100 Hz,500 Hz,1 kHz,2.5 kHz,3 kHz,5 kHz,6.25 kHz,7.5 kHz,8.3333 kHz,9 kHz,10 kHz,12.5 kHz,15 kHz,20 kHz,25 kHz,30 kHz,50 kHz,100 kHz,150 kHz,200 kHz,250 kHz,300 kHz,350 kHz,400 kHz,450 kHz,500 kHz,1 MHz" />
  <add key="plugin.bandPlan.enabled" value="True" />
  <add key="plugin.bandPlan.autoUpdateSettings" value="True" />
  <add key="plugin.bandPlan.position" value="1" />
  <add key="plugin.magiceye.type" value="0" />
  <add key="plugin.pocsag.MultilinePayload" value="False" />
  <add key="airspy.simplifiedGain" value="0" />
  <add key="airspy.gainMode" value="0" />
  <add key="airspy.useDynamicRangeEnhancements" value="True" />
  <add key="plugin.nb.af.enabled" value="False" />
  <add key="plugin.nb.af.threshold" value="5" />
  <add key="plugin.nb.af.pulseWidth" value="50" />
  <add key="plugin.nb.af.lookupWindow" value="30" />
  <add key="plugin.nb.if.enabled" value="False" />
  <add key="plugin.nb.if.threshold" value="5" />
  <add key="plugin.nb.if.pulseWidth" value="30" />
  <add key="plugin.nb.if.lookupWindow" value="50" />
  <add key="plugin.nb.bb.enabled" value="False" />
  <add key="plugin.nb.bb.threshold" value="5" />
  <add key="plugin.nb.bb.pulseWidth" value="10" />
  <add key="plugin.nb.bb.lookupWindow" value="20" />
  <add key="plugin.cochannel.am.enabled" value="False" />
  <add key="plugin.cochannel.am.offset" value="0" />
  <add key="plugin.cochannel.am.bandwidth" value="12000" />
  <add key="plugin.cochannel.am.ifOffset" value="0" />
  <add key="plugin.cochannel.am.tuning" value="7.5" />
  <add key="plugin.cochannel.am.removeCarrier" value="True" />
  <add key="plugin.cochannel.am.autoTune" value="False" />
  <add key="plugin.cochannel.fm.enabled" value="False" />
  <add key="plugin.cochannel.fm.offset" value="0" />
  <add key="plugin.cochannel.fm.bandwidth" value="250000" />
  <add key="plugin.cochannel.fm.ifOffset" value="0" />
  <add key="plugin.cochannel.fm.tuning" value="7.5" />
  <add key="plugin.if.processor.notchWidth" value="300" />
  <add key="plugin.if.processor.notchAttenuation" value="-160" />
  <add key="plugin.if.processor.trackingEnabled" value="False" />
  <add key="plugin.if.processor.filterEnabled" value="False" />
  <add key="plugin.if.processor.showPanel" value="False" />
  <add key="plugin.if.processor.displayStage" value="False" />
  <add key="plugin.if.processor.showOnMainSpectrum" value="False" />
  <add key="plugin.audio.recorder.sampleFormat" value="1" />
  <add key="plugin.audio.recorder.channels" value="0" />
  <add key="plugin.audio.recorder.targetFolder" value="C:\SDRSharp\Instances\Profile2" />
  <add key="plugin.baseband.recorder.writeFolder" value="." />
  <add key="plugin.baseband.recorder.sampleFormat" value="1" />
  <add key="plugin.baseband.recorder.fileFormat" value="0" />
  <add key="plugin.baseband.recorder.fileLimitEnabled" value="False" />
  <add key="plugin.baseband.recorder.fileLimit" value="4294967295" />
  <add key="plugin.baseband.recorder.schedule" value="" />
  <add key="ActiveFiltersButton" value="0" />
  <add key="AudioSpectrumShow" value="False" />
  <add key="AudioSpectrumPosition" value="1" />
  <add key="ShowAudioSpectrumBefore" value="False" />
  <add key="AudioRecorder.FileName" value="/ date / group / frequency + &quot; &quot; + name / time + &quot; &quot; + name + &quot; &quot; + frequency" />
  <add key="AudioRecorder.DeleteSmallFile" value="False" />
  <add key="AudioRecorder.MinimumWriteLengthInSecond" value="0" />
  <add key="AudioRecorder.DontWritePause" value="False" />
  <add key="AudioRecorder.UseMute" value="False" />
  <add key="AudioRecorder.UseSquelch" value="False" />
  <add key="AudioRecorder.WriteFolder" value="C:\SDRSharp\bin" />
  <add key="AudioRecorder.WriteSamplerate" value="0" />
  <add key="AudioRecorder.RecordSampleFormat" value="0" />
  <add key="AudioRecorder.AutoStartRecording" value="False" />
  <add key="AudioRecorder.ContinueRecordTimeEnabled" value="False" />
  <add key="AudioRecorder.ContinueRecordTime" value="1000" />
  <add key="AudioRecorder.WriteOneFile" value="False" />
  <add key="AudioRecorder.NewFileWaitTimeEnable" value="False" />
  <add key="AudioRecorder.NewFileWaitTime" value="10000" />
  <add key="AudioRecorder.NewFileIfFrequencyChange" value="False" />
  <add key="AudioRecorder.NewFileIfMaxWriteLength" value="False" />
  <add key="AudioRecorder.MaxWriteLength" value="2048" />
  <add key="QPSKSearchPhaseStep" value="100" />
  <add key="QPSKSymbolRate" value="1" />
  <add key="QPSKModulationType" value="0" />
  <add key="QPSKserverEnabled" value="False" />
  <add key="QPSKFileEnabled" value="False" />
  <add key="QPSKConstellInput" value="False" />
  <add key="QPSKConstellOutput" value="False" />
  <add key="QPSKTrackingEnable" value="False" />
  <add key="plugin.MPXOut.enable" value="False" />
  <add key="plugin.MPXOutput.device" value="[MME] Speakers (Realtek High Definiti" />
  <add key="plugin.MPXOut.gain" value="0" />
  <add key="ScytaleC.UDPAddress" value="localhost" />
  <add key="ScytaleC.UDPPort" value="15003" />
  <add key="apco.gain" value="0" />
  <add key="apco.enabled" value="False" />
  <add key="dmr.gain" value="0" />
  <add key="dmr.enabled" value="False" />
  <add key="dpmr.gain" value="0" />
  <add key="dpmr.enabled" value="False" />
  <add key="core.filterColor" value="FFFFFFFF" />
  <add key="core.docker.size" value="1910,956" />
  <add key="fftWindowType" value="3" />
  <add key="fftView" value="2" />
  <add key="fftResolution" value="7" />
  <add key="frequencyShift" value="0" />
  <add key="frequencyShiftEnabled" value="False" />
  <add key="core.invertSpectrum" value="False" />
  <add key="correctIQ" value="False" />
  <add key="markPeaks" value="False" />
  <add key="stereo" value="False" />
  <add key="unityGain" value="False" />
  <add key="audioPanning" value="0" />
  <add key="sampleRate" value="48000 sample/sec" />
  <add key="audioGain" value="0" />
  <add key="AudioIsMuted" value="False" />
  <add key="splitterPosition" value="324" />
  <add key="tuningStyle" value="0" />
  <add key="inputDevice" value="[WASAPI] SE2417HGX (NVIDIA High Definition Audio) [Loopback]" />
  <add key="outputDevice" value="[MME] Speakers (Realtek High Definiti" />
  <add key="lockCarrier" value="False" />
  <add key="stickyLock" value="False" />
  <add key="useAntiFading" value="False" />
  <add key="wfmState" value="200000,500,3,20,0,1000,100000,1,0,0,0,0,0,0" />
  <add key="nfmState" value="8000,1000,3,50,1,1000,12500,1,0,0,0,0,0,0" />
  <add key="amState" value="10000,1000,3,50,0,1000,1000,1,0,1,0,0,0,0" />
  <add key="lsbState" value="2400,1000,3,50,0,1000,100,1,0,1,0,0,0,0" />
  <add key="usbState" value="2400,1000,3,50,0,1000,100,1,0,1,0,0,0,0" />
  <add key="dsbState" value="6000,1000,3,50,0,1000,1000,1,0,1,0,0,1,1" />
  <add key="cwState" value="300,1000,3,50,0,1000,100,1,0,1,0,0,0,0" />
  <add key="rawState" value="10000,1000,3,50,0,1000,1000,1,0,1,0,0,0,0" />
  <add key="zoomBarIsSticky" value="True" />
  <add key="stepBarIsVisible" value="True" />
  <add key="windowState" value="2" />
  <add key="windowPosition" value="26,26" />
  <add key="windowSize" value="1156,757" />
  <add key="core.slices.count" value="0" />
  <add key="rtl.tunerGain" value="0" />
  <add key="rtl.sampleRate" value="3" />
  <add key="rtl.tunerAgc" value="False" />
  <add key="rtl.frequencyCorrection" value="0" />
  <add key="rtl.chipAgc" value="False" />
  <add key="rtl.samplingMode" value="0" />
  <add key="rtl.offsetTuning" value="False" />
  <add key="rtl.biasTee" value="False" />
</configuration>